/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
#accessibility-menu {
  background-color: var(--color-primary);
  text-align: right;
  line-height: var(--lh-solid);
}
#accessibility-menu ul {
  display: inline-block;
  margin: 0;
}
#accessibility-menu li {
  display: inline-block;
}

#accessibility-menu li::before {
  content: "";
}
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: var(--color-background);
	clip: auto !important;
	clip-path: none;
	color: var(--color-on-background);
	display: block;
	font-size: var(--ms0);
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
}

