.carto {
  /* Using padding hack to make svg scale in ie… */
  /* https://la-cascade.io/svg-style-et-anime-avec-css/#rendresvgresponsif */
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 48.75% /* (svg-height / svg-width) * width-value */;
                      /* (390 / 800) * 100% */;
  /* background-image: url('img/carto-fake.png'); */

}
  /* Padding hack */
  .carto svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.carto__background {
  fill: var(--color-primary);
}

.carto__hero-pattern {
  fill: var(--color-background);
}

.carto__point {
	fill: var(--color-background);
  stroke: var(--color-primary);
  stroke-width:2.6334;
  stroke-miterlimit:10;
  transition: all .3s ease-out;
}
.carto__point:hover, .carto__point--hover {
  fill: var(--color-primary);
	stroke: var(--color-background);
  cursor: pointer;
}

.carto__tooltip {
  font-size: var(--ms2);
  font-weight: bold;
  text-transform: uppercase;
	fill: var(--color-background);
  stroke: var(--color-primary);
  stroke-width:1;
}
