/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
}

.hentry {
}

.updated:not(.published) {
	display: none;
}

.page-header {
}

.page-title {
  @extend .h2;
}

.entry-header {
  margin-top: var(--ms3);
  margin-bottom: var(--ms4);
}
.entry-title {
  line-height: var(--lh-title);
  margin: var(--spacing-xs) 0;
  @extend .h1;
}
.entry-title a {
  text-decoration: none;
  border-bottom: 2px dotted var(--color-on-background);
}
.entry-title a:hover {
  border-bottom: 0;
}
.entry-title a::before {
  content: "∞";
  margin-left: -3ex;
  margin-right: 0.5ex;
  text-shadow: 0 0 1px var(--color-on-background);
  color: var(--color-background);

}

.entry-meta .posted-on::before {
  content: "// ";
}
.entry-meta, .entry-footer {
  font-size: var(--ms-1); 
  font-weight: bold;
}

.entry-footer {

  text-align: right;
}

.entry-footer span[class*="-link"]::before {
  content: " // ";
}

.page-content,
.entry-content,
.entry-summary {
}

.page-links {
}

.sep {
  margin: 0 var(--spacing-xs); 
}

/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
### Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-left: 0;
  max-width: 100%; /* Overrrides the style="width: 640px" */
}

.wp-caption img[class*="wp-image-"] {
}

.wp-caption .wp-caption-text {
}

.wp-caption-text {
  font-family: var(--font-mono);
  font-size: var(--ms-1);
}

/*--------------------------------------------------------------
### Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
