/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	/* background: #fff; */
	/* Fallback for when there is no custom background color defined. */
}

hr {
}

ul, ol {
}

ul {
  margin-left: 0;
  list-style: none;
}
ul li::before {
  content: "> ";
  text-indent: -2.3ex;
  margin-left: -2.2ex;
}

ol {
}

li > ul,
li > ol {
}

dt {
}

dd {
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	width: 100%;
} 

