/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


.wrapper {
  width: 100%;
  background-color: var(--color-secondary);
}

.site {
  max-width: calc(40em * var(--ms-ratio));
  background-color: var(--color-background);
}

.site-header {
  background-color: var(--color-primary);
  color: var(--color-background);

}
.site-header a, .site-title a:visited {
  color: var(--color-background);
}


.site-branding {
  /* margin-left: var(--spacing-m); */
}

.site-title {
  font-size: var(--ms4);
  font-family: var(--font-title);
  margin-bottom: 0;
  text-align: center;
}
.site-title a {
  text-decoration: none;
  border-bottom: 2px dotted var(--color-background);
}
.site-title a:hover {
  border-bottom: 0;
}
.site-title a:focus {
  background-color: var(--color-primary);
  outline: 2px dotted var(--color-background);
  border-bottom: 0;
}

.site-description {
  font-size: var(--ms-1);
  font-style: italic;
  margin-top: 0;
  margin-bottom: var(--spacing-l);
  text-align: center;
}

.site-content {
  margin-left: var(--spacing-xxl);
  margin-right: var(--spacing-xl);
}

@media (--breakpoint-small) {
  .site-content {
    margin-left: var(--spacing-m);
    margin-right: var(--spacing-s);
  }
}

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/

.widget-area {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-l) 0;
}

@media (--breakpoint-small) {
  .widget-area {
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
  }
}

.widget-area::before {
  content: "////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////";
  color: var(--color-secondary);
}

.widget {
  width: calc(50% - 2* var(--spacing-m));
  margin-top: var(--spacing-l);
  margin-left: var(--spacing-m);
  margin-right: var(--spacing-m);
  border: 1px solid var(--color-on-background);
}

@media (--breakpoint-small) {
  .widget {
    width: calc(100% - 2* var(--spacing-m));
  }
}

.widget select {
	max-width: 100%;
}

.widget-title {
  margin-top: 1ex;
  margin-left: 1ex;
  font-size: var(--ms0);
}
.widget .menu {
  padding-left:3ex;
}
.widget .menu li {
  padding-left:0;
}
.partenaires {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2* var(--spacing-l));
  margin-left: var(--spacing-l);
  margin-right: var(--spacing-l);
  margin-bottom: var(--spacing-l);
}
.partenaires__logo {
  width: calc(25% - 5* var(--spacing-m));
}
@media (--breakpoint-small) {
  .partenaires {
    /* flex-direction: column; */
  }
  .partenaires__logo {
    width: calc(60% - 2* var(--spacing-m));
    max-width: 10rem;
  }
}


.site-footer {
  font-size: var(--ms-1);
  text-align: center;
}
.site-info {
  margin-right: var(--spacing-xs);
  margin-bottom: var(--spacing-m);
}
