/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: var(--color-secondary);
}

a:visited {
  color: var(--color-on-primary);
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

a:focus {
  outline: 1px dotted var(--color-on-background);
  outline-offset: var(--spacing-xs);
  background-color: white;
}

a:hover, a:active {
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  font-size: var(--ms-1);
  line-height: var(--lh-copy);
  margin: 0 var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.main-navigation ul {
  padding: 0;
  margin: 0;
}

.main-navigation li {
  display: inline-block;
  margin: var(--spacing-xs) 0;
}

.main-navigation li::before {
  content: '';
  text-indent: 0;
  margin-left: 0;
}

.menu-menu-1-container, .menu-collectifs-container, .menu-methodes-container {
  display: inline-block;
}

.nav a {
  padding: 0 var(--spacing-xs);
  border: 1px solid var(--color-background);
  font-size: var(--ms-1);
  text-decoration: none;
}

.nav a:visited {
  color: var(--color-on-secondary);
  border: 1px solid var(--color-on-secondary);
}

.nav a:hover, .nav .current-menu-item a {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 1px solid var(--color-background);
}


.nav a:focus, .nav .current-menu-item a:focus {
  background-color: white;
  color: var(--color-on-background);
  border: 1px solid white;
}

.nav-title {
  text-transform: uppercase;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
	}
	.main-navigation ul {
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
}

