/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@font-face {
  font-family: 'neoneonregular';
  src: url('fonts/neoneon-webfont.woff2') format('woff2'),
       url('fonts/neoneon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-sans);
  line-height: var(--lh-copy);
}

h1, .h1 {
  font-family: var(--font-title);
  font-size: var(--ms6);
  font-weight: normal;
  overflow-wrap: break-word;
  hyphens: auto;
}

h2, .h2 {
  font-size: var(--ms2);
  text-transform: uppercase;
  font-weight: normal;
  margin-top: var(--ms3);
  overflow-wrap: break-word;
  hyphens: auto;
}

h3, .h3 {
  font-size: var(--ms1);
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
  line-height: var(--lh-title);
}

p {
	margin-bottom: var(--ms1);
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
  font-family: var(--font-mono);
}

address {
}

pre {
}

code, kbd, tt, var {
  font-family: var(--font-mono);
}

abbr, acronym {
	cursor: help;
}

mark, ins {
}

big {
}

