/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

:root {
  /* Modular-scale */
  /* Major Third / 1.25: https://www.modularscale.com/?1&em&1.25 */
  --ms-ratio: 1.25;

  --ms6  : 3.815rem;
  --ms5  : 3.052rem;
  --ms4  : 2.441rem;
  --ms3  : 1.953rem;
  --ms2  : 1.563rem;
  --ms1  : 1.25rem;
  --ms0  : 1rem;
  --ms-1 : 0.8rem;

  /* line height, based on http://tachyons.io/docs/typography/line-height/ */
  --lh-solid : 1;
  --lh-title : 1.25;
  --lh-copy  : 1.5;

  /* Spacing, based on http://tachyons.io/docs/layout/spacing/ */
  --spacing-none : 0;
  --spacing-xs   : .25rem;
  --spacing-s    : .5rem;
  --spacing-m    : 1rem;
  --spacing-l    : 2rem;
  --spacing-xl   : 4rem;
  --spacing-xxl  : 8rem;
  --spacing-xxxl : 16rem;

  /* Colors */
  --color-background    : #f9f88b;
  --color-primary       : #49475b;
  --color-secondary     : #1d3c68;
  --color-on-background : #2a4a6e;
  --color-on-primary    : #5E6B4F;
  --color-on-secondary  : #acc196;

  /* Fonts families */
  --font-sans  : Verdana, Geneva, sans-serif;
  --font-title : 'neoneonregular', Verdana, Geneva, sans-serif;
  --font-mono  : Consolas, monaco, monospace;
}

/* media queries */
@custom-media --breakpoint-small screen and (max-width: 50em);

@media (--breakpoint-small) {
  :root {
    --marge: 10px;
    --margin-l: 2.5em;
    --margin-xl: 3.5em;
  }
}

